@font-face {
    font-family: 'kabondregular';
    src: url('assets/fonts/kabond/kabond-webfont.woff2') format('woff2'),
         url('assets/fonts/kabond/kabond-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
}

#bg {
    height:100vh;
    position: fixed;
    transition: filter 1s, transform 1s;
    width:100vw;
    object-fit: cover;
    filter: blur(1px);
    z-index: 0;
}

.icons {
    display: flex;
    font-size: 2rem;
    justify-content: space-between; 
    width: 100%;
}
.icons > a:link {
    color: black;
}
.icons > a:visited {
    color: black;
}
.icons > a:active {
    color: black;
}

#intro-card {
    display: none;
    font-family: monospace;
    font-size: 1.3rem;
    height: 96%;
    padding: 1rem;
    position: relative;
    scroll-snap-align: start;
    text-align: center;
    z-index: 6;
}
#intro-card > div {
    display: grid;
    grid-template-rows: 24% 7% 15% auto 1.5rem 2.8rem 4rem;
    background-color: rgba(150, 226, 214, 0.7);
    padding: 2rem;
}
#intro-card > div > .icons {
    max-width: 375px;
    justify-self: center;
}
#intro-card > div > p {
    align-self: center;
    justify-self: center;
    margin: 0;
}


h2 {
    font-family: 'kabondregular';
    letter-spacing: 4px;
    z-index: 2;
}
h3 {
    z-index: 2;
}

.obj > a {
    z-index: 2;
}

.obj > a > img {
    z-index: 2;
}

.obj > .obj-bg {
    
    z-index: 1;
}

#sunlit > h2, #sunlit > h3 {
    background-color:rgba(62,29,46,0.9);
}
#sunlit > .obj-bg {
    background-color: rgba(189, 86, 139, 0.7);
}
#frozen > h2, #frozen > h3 {
    background-color:rgba(12,26,67,0.9);
}
#frozen > .obj-bg {
    background-color: rgba(61, 110, 255, 0.7);
}
#crag > h2, #crag > h3  {
    background-color:rgba(49,87,10,0.9);
}
#crag > .obj-bg {
    background-color: rgba(143, 255, 30, 0.7);
}
#scorched > h2, #scorched > h3 {
    background-color:rgba(76,66,59,0.9);
}
#scorched > .obj-bg {
    background-color: rgba(255, 220, 196, 0.7);
}
#tumble > h2, #tumble > h3 {
    background-color:rgba(0,53,49,0.9);
}
#tumble > .obj-bg {
    background-color: rgba(0, 255, 234, 0.7);
}
#fragile > h2, #fragile > h3 {
    background-color:rgba(15,82,81,0.9);
}
#fragile > .obj-bg {
    background-color: rgba(43, 182, 179, 0.7);
}
#pipe > h2, #pipe > h3 {
    background-color:rgba(21,56,86,0.9);
}
#pipe > .obj-bg {
    background-color: rgba(60, 164, 255, 0.7);
}
#outgrate > h2, #outgrate > h3 {
    background-color:rgba(16,35,43,0.9);
}
#outgrate > .obj-bg {
    background-color: rgba(93, 206, 255, 0.7);
}

#logo {
    color: rgba(156, 144, 193, 0.8);
    display: grid;
    font-size: 11px;
    font-family: monospace;
    grid-row-gap: 0.25rem;
    position: fixed;
    z-index: 4;
}

#logo > img {
    justify-self: start;
}


#title {
    font-family: monospace;
    font-size: 1.2rem;
    background-color: rgba(150, 226, 214, 0.6);
    color: black;
    position: fixed;
    z-index: 4;
    transition: 1s background-color;
}
#title > img {
    height: 64px;
    padding-bottom: 0.5rem;
}
#title > p {
    margin-top: 0;
}

#title > a:hover {
    color: black;
}

@media only screen and (max-width: 400px) {
    #logo {
        max-width: 23%;
    }
}

@media only screen and (max-width: 800px) {
    h2 {
        color: rgba(245,245,245,0.8);
        font-size: 3rem;
        height: 96px;
        padding: 1rem 2rem;
        margin-top: 0;
        opacity: 1;
        text-align: center;
    }
    h2 > span {
        letter-spacing: -14px;
    }
    h3 {
        background-color: rgba(0,0,0,0) !important;
        color: rgba(240,240,240,0.7);
        padding: 0 6rem;
        position: absolute;
        text-align: center;
        top: 8rem;
    }
    body {
        display: flex;
        height: 100%;
        overflow: hidden;
    }
    .container {
        height: 100vh;
        scroll-snap-type: y mandatory;
        overflow-y: scroll;
    }
    .obj {
        display: grid;
        scroll-snap-align: start;
        height: 100vh;
        width: 100vw;
        position: relative;
        scroll-snap-stop: always
    }
    .obj > .obj-bg {
        display: block;
        height: 100%;
        position: absolute;
        width: 100%;
    }
    
    .obj > a {
        align-self: center;
        filter: drop-shadow(0px 0px 6px black);
        justify-self: center;
        max-height: 60%;
        max-width: 60%;
        padding-top: 2rem;
        position: absolute;
        z-index: 2;
    }

    .obj > a > img {
        justify-self: center;
        max-width: 100%;
        max-height: 100%;
    }

    #intro-card {
        display: grid;
        font-family: monospace;
        font-size: 1.3rem;
        height: 96%;
        padding: 1rem;
        position: relative;
        scroll-snap-align: start;
        text-align: center;
    }
    #intro-card > div > #intro-close {
        display: none;
    }
    #intro-card > div > img {
        max-height: 124px;
    }
    #intro-card > div {
        display: grid;
        grid-template-rows: 125px 7% 15% auto 1.5rem 2.8rem 4rem;
        background-color: rgba(150, 226, 214, 0.7);
        padding: 2rem;
    }
    #intro-card > div > p {
        align-self: center;
        justify-self: center;
        margin: 0;
        max-width: 550px;
    }

    #intro-card > div > .rew-logo {
        justify-self: center;
    }
    #intro-card > div > #intro-mobile {
        font-size: 1rem;
    }
    #intro-card > div > .icons {
        align-self: flex-end;
    }

    .intro-mobile {
        display: block;
    }
    .intro-desktop {
        display: none;
    }

    #logo {
        display: none;
        position: sticky;
        top: 87%;
        right: 0;
        text-align: right;
    }

    #logo > img {
        justify-self: end;
    }

    #title {
        position: sticky;
        width: 200px;
        top: 82%;
        padding: 1rem 2rem;
    }
    #title > img {
        color: rgba(245,245,245,0.8);
    }
    #title > p {
        display: none;
    }

    #sunlit > .obj-bg {
        background-color: rgba(62,29,46,0.7);
    }
    #frozen > .obj-bg {
        background-color: rgba(12,26,67,0.7);
    }
    #crag > .obj-bg {
        background-color: rgba(49,87,10,0.7);
    }
    #scorched > .obj-bg {
        background-color: rgba(76,66,59,0.7);
    }
    #tumble > .obj-bg {
        background-color: rgba(0,53,49,0.7);
    }
    #fragile > .obj-bg {
        background-color: rgba(15,82,81,0.7);
    }
    #pipe > .obj-bg {
        background-color: rgba(21,56,86,0.7);
    }
    #outgrate > .obj-bg {
        background-color: rgba(16,35,43,0.7);
    }
    
}

@media only screen and (min-width: 801px) {
    iframe {
        width: 100%;
        height: 64vh;
    }
    .video-player {
        display: none;
        box-sizing: border-box;
        top: 0;
        left: 0;
        padding: 1rem 2rem;
        width: 100vw;
        position: fixed;
        height: 100vh;
    }
    .video-player > h1 {
        text-align: right;
        color: white;
    }
    .container {
        position: fixed;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
    }
    h2 {
        color: white;
        display: none;
        font-size: 3rem;
        left: 0;
        margin-left: 2rem;
        margin-top: 1rem;
        padding: 1rem;
        position: fixed;
        top: 0;
    }
    h2.hover {
        display: block;
    }
    h2 > br {
        display: none;
    }
    h3 {
        font-family: monospace;
        font-weight: 100;
        position: fixed;
        padding: 1rem;
        font-size: 1.8rem;
        color: white;
        display: none;
        max-width: 25rem;
    }
    #intro-card > div > #intro-close {
        display: block;
        position: fixed;
        right: 3rem;
        margin: 0;
        cursor: pointer;
    }
    #intro-card > div > img {
        max-height: 124px;
        align-self: flex-end;
    }
    #intro-card > div > p {
        max-width: 750px;
    }

    #intro-card > div > .rew-logo {
        justify-self: center;
    }
    #intro-card > div > #intro-mobile {
        font-size: 1rem;
    }
    #intro-card > div > .icons {
        align-self: flex-end;
    }

    .intro-mobile {
        display: none;
    }
    .intro-desktop {
        display: block;
    }

    .obj {
        position: absolute;
    }
    
    .obj > a {
        position: fixed;
        transition: 0.5s filter;
    }
    .obj > a:hover {
        filter: drop-shadow(0px 0px 6px black);
    }
    .obj > .obj-bg {
        display: none;
        height: 100vh;
        left: 0;
        opacity: 0.4;
        position: fixed;
        top: 0;
        width: 100vw;
    }

    #sunlit {
        top: 1rem; 
        left: 35%;
    }
    #sunlit > a > img {
        width: 256px;
    }
    #sunlit > h3 {
        top: 45%; 
        left: 30%;
    }

    #frozen {
        top: 20%; 
        left: 60%;
    }
    #frozen > a > img {
        width: 128px;
    }
    #frozen > h3 {
        top: 50%; 
        left: 20%;
    }

    #crag {
        top: 30%; 
        left: 80%;
    }
    #crag > a > img {
        width: 200px;
    }
    #crag > h3 {
        top: 35%; 
        left: 30%;
    }

    #scorched {
        top: 55%; 
        left: 65%;
    }
    #scorched > a > img {
        width: 96px;
    }
    #scorched > h3 {
        top: 35%; 
        left: 20%;
    }

    #tumble {
        bottom: 325px;
        left: 45%;
    }
    #tumble > a > img {
        width: 256px;
    }
    #tumble > h3 {
        top: 25%; 
        left: 50%;
    }

    #fragile {
        top: 70%; 
        left: 20%;
    }
    #fragile > a > img {
        width: 256px;
    }
    #fragile > h3 {
        top: 35%; 
        left: 45%;
    }

    #pipe {
        top: 40%; 
        left: 2%;
    }
    #pipe > a > img {
        width: 256px;
    }
    #pipe > h3 {
        top: 35%; 
        left: 35%;
    }

    #outgrate {
        top: 20%; 
        left: 15%;
    }
    #outgrate > a > img {
        width: 128px;
    }
    #outgrate > h3 {
        top: 45%; 
        left: 30%;
    }

    .hover {
        filter: brightness(2);
        transition: 1s all;
    }

    #logo {
        bottom: 0.25rem;
        left: 0.5rem;
    }

    #title {
        bottom: 0;
        right: 0;
        padding: 1rem 2rem;
    }

    #title > img:hover {
        filter: drop-shadow(0 0 6 white);
    }
}